<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>预警消息管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/layui-v2.4.5/layui/css/modules/laydate/default/laydate.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui-v2.4.5/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}"/>
    <style type="text/css">
        #dateForm .layui-form-label {
            width: 42px !important;
            padding: 5px 0px !important;
        }

        #dateForm .layui-input {
            height: 30px !important;
        }

        #dateForm .layui-form-item {
            margin-bottom: 0px !important;
        }
    </style>
</head>
<body>
<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="">全部</li>
                <li class="layui-this">最新预警通知<span class="layui-badge" id="alarmNum">0</span></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item">
                    <div class="layui-row" style="display: flex;">

                        <div class="layui-col-md9" style="width: 730px">
                            <form class="layui-form" style="display: flex;justify-content: flex-start" id="dateForm">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">
                                            开始：
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="date" placeholder="开始日期" id="startDate" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">
                                            结束：
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="date" placeholder="结束日期" id="endDate" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">
                                            标题：
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="text" placeholder="警报" id="searchText" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <div class="layui-col-md1" style="width: 125px">
                            <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                                <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="all"
                                        data-events="del">删除
                                </button>
                                <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="all"
                                        data-events="del" onclick="loadByDate()">查询
                                </button>
                            </div>
                        </div>
                    </div>
                    <table id="message-all" lay-filter="message-all"></table>
                </div>
                <div class="layui-tab-item layui-show" style="">
                    <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                        <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="notice" data-events="del">
                            删除
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="notice" data-events="ready">
                            标记已读
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="notice"
                                data-events="readyAll">全部已读
                        </button>
                    </div>
                    <table id="message-new" lay-filter="message-new"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/js/jquery-latest.js}"></script>
<!--<script th:src="@{/static/layDate-v5.0.9/laydate/laydate.js}"></script>-->
<script th:src="@{/static/layui-v2.4.5/layui/layui.js}"></script>
<script th:src="@{/static/utils/utils.js}"></script>
<script type="text/javascript">
    layui.use(['element', 'form', 'table', 'laydate', 'layer'], function () {
        var element = layui.element;
        var form = layui.form;
        var table = layui.table;
        var layDate = layui.laydate;
        var layer = layui.layer;
        form.render();
        element.init();
        var cols =
            [
                [
                    {checkbox: true},
                    {field: 'title', title: '警报'},
                    {field: 'alarmType', title: '类型'},
                    {field: 'content', title: '内容'},
                    {field: 'date', title: '时间'},
                    {field: 'location', title: '位置'},
                    {field: 'isReaded', title: '状态'}
                ]
            ];
        var dataTableOptions = {
            elem: '#message-all',
            url: '/emims/api/alarm/all',
            method: 'get',
            request: {
                pageName: 'page',
                limitName: 'size',
            },
            where: {
                start: '',
                end: '',
                searchText:''
            },
            response: {
                statusName: 'status', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'message', //规定状态信息的字段名称，默认：msg
                countName: 'totalCount', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            // contentType: 'application/json',
            // height: 350,
            page: true,
            limit: 15,
            loading: true,
            cols: cols,
            even: true,
            size: 'sm',
            done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);

                //得到当前页码
                console.log(curr);
                //得到数据总量
                if (this.url == "/emims/api/alarm/new") {
                    $("#alarmNum").html(count);
                }
            },
            text: {
                none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
        }
        //表格初始化
        table.init('message-all', dataTableOptions);
        dataTableOptions.url = "/emims/api/alarm/new";
        dataTableOptions.elem = "#message-new";
        table.init('message-new', dataTableOptions);

        laydate.render({
            elem: '#startDate' //指定元素
        });
        laydate.render({
            elem: '#endDate' //指定元素
        });
        window.loadByDate = function () {
            dataTableOptions.where.start = $("#startDate").val()
            dataTableOptions.where.end = $("#endDate").val()
            dataTableOptions.where.searchText = $("#searchText").val()
            dataTableOptions.url = "/emims/api/alarm/all";
            dataTableOptions.elem = "#message-all";
            table.init('message-all', dataTableOptions);
        }

    });

</script>

</body>
</html>
