<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>预警参数设置</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui-v2.4.5/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
</head>
<body>

<div class="layui-fluid layui-col-space5" style="margin-top: 5px">
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">
                设备列表
            </div>
            <div class="layui-card-body">
                <table id="alarmArgumentTable" lay-filter="alarmArgumentTable"></table>
            </div>
        </div>
    </div>
    <div class="layui-col-md8">
        <div class="layui-card">
            <div class="layui-card-header" style="display: flex;justify-content: space-between">
                <label>
                    预警参数设置
                </label>
                <div style="display: flex;">
                    您在设置:<label id="currentMonitorDevice" style="display: block;width: 100px;color: #009688;font-size:14px;font-weight: 500"></label>
                </div>
            </div>
            <div class="layui-card-body">
                <form class="layui-form layui-form-pane" style="margin-top: 5px" name="alarmArgumentForm">
                    <div class="layui-row">
                        <div class="layui-col-md6" style="padding: 0px 15px">
                            <div class="layui-form-item">
                                <!--<div class="layui-form-mid layui-word-aux">最高温度</div>-->
                                <label class="layui-form-label">最高温度</label>
                                <div class="layui-input-block">
                                    <input type="text" name="maxT" id="maxT" required lay-verify="required"
                                           placeholder="maxT" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <!--<div class="layui-form-mid layui-word-aux">最大湿度</div>-->
                                <label class="layui-form-label">最大湿度</label>
                                <div class="layui-input-block">
                                    <input type="text" name="maxHumi" id="maxHumi" required lay-verify="required"
                                           placeholder="maxHumi" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">最强紫外线</label>
                                <div class="layui-input-block">
                                    <input type="text" name="maxUltra" id="maxUltra" required lay-verify="required"
                                           placeholder="maxUltra" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最强紫外线</div>-->
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">最强光照</label>
                                <div class="layui-input-block">
                                    <input type="text" name="maxIllum" id="maxIllum" required lay-verify="required"
                                           placeholder="maxIllum" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最强光照</div>-->
                            </div>
                        </div>
                        <div class="layui-col-md6" style="padding: 0px 15px">
                            <div class="layui-form-item">
                                <label class="layui-form-label">最低温度</label>
                                <div class="layui-input-block">
                                    <input type="text" name="minT" id="minT" required lay-verify="required"
                                           placeholder="minT" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最低温度</div>-->
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">最小湿度</label>
                                <div class="layui-input-block">
                                    <input type="text" name="minHumi" id="minHumi" required lay-verify="required"
                                           placeholder="minHumi" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最小湿度</div>-->
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">最弱紫外线</label>
                                <div class="layui-input-block">
                                    <input type="text" name="minUltra" id="minUltra" required lay-verify="required"
                                           placeholder="minUltra" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最弱紫外线</div>-->
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">最弱光照</label>
                                <div class="layui-input-block">
                                    <input type="text" name="minIllum" id="minIllum" required lay-verify="required"
                                           placeholder="minIllum" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最弱光照</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md12" style="padding: 0px 15px">
                            <div class="layui-form-item">
                                <label class="layui-form-label">最高PM2.5</label>
                                <div class="layui-input-block">
                                    <input type="text" name="maxPm" id="maxPm" required lay-verify="required"
                                           placeholder="maxPm2.5" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最大PM2.5浓度</div>-->
                            </div>
                        </div>
                        <div class="layui-col-md12" style="padding: 0px 15px">
                            <div class="layui-form-item">
                                <label class="layui-form-label">最低大气压</label>
                                <div class="layui-input-block">
                                    <input type="text" name="minAirP" id="minAirP" required lay-verify="required"
                                           placeholder="maxAirP" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-form-mid layui-word-aux">最低大气压</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md12">
                            <button class="layui-btn" type="button" onclick="setAlarmArgument()">
                                修改/保存
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary">
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layui-v2.4.5/layui/layui.js}"></script>
<script th:src="@{/js/jquery-latest.js}"></script>
<script>
    layui.use(['element', 'form', 'table', 'layer','laydate'], function () {
        var element = layui.element;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var currentAlarmArguId = -1;
        var currentDeviceMac = '';
        var currentArgumentId='';
        var laydate=layui.laydate;
        form.render();
        element.init()

        var cols =
            [
                [
                    {field: 'deviceMac', title: '设备号'},
                    {field: 'code', title: '编码'},
                    {field: 'deviceId', title: '状态',width:'70'}

                ]
            ];
        var alarmArgumentTableOption = {
            elem: '#alarmArgumentTable',
            url: '/emims/api/monitorDevice',
            method: 'get',
            tooltip:true,
            request: {
                pageName: 'page',
                limitName: 'size',
            },
            response: {
                statusName: 'status', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'message', //规定状态信息的字段名称，默认：msg
                countName: 'totalCount', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            // contentType: 'application/json',
            // height: 350,
            page: false,
            limit: 15,
            loading: true,
            cols: cols,
            even: true,
            size: 'sm',
            done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);

                //得到当前页码
                console.log(curr);
                //得到数据总量

            },
            text: {
                none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
        }

        table.init('alarmArgumentTable', alarmArgumentTableOption)
        table.on('row(alarmArgumentTable)', function (obj) {
            var deviceInfo = obj.data;
            currentDeviceMac=deviceInfo.deviceMac;
            $("#currentMonitorDevice").text(deviceInfo.code)
            $.ajax({
                url:'/emims/api/alarmArgument',
                data:{
                    deviceMac:deviceInfo.deviceMac
                },
                success:function (data) {
                    var argument=data.data;
                    if (argument!=null){
                        currentArgumentId=argument.argumentId;
                        $("#maxT").val(argument.maxT)
                        $("#minT").val(argument.minT)
                        $("#maxHumi").val(argument.maxHumi)
                        $("#minHumi").val(argument.minHumi)
                        $("#maxIllum").val(argument.maxIllum)
                        $("#minIllum").val(argument.minIllum)
                        $("#maxUltra").val(argument.maxUltra)
                        $("#minUltra").val(argument.minUltra)
                        $("#minAirP").val(argument.minAirP)
                        $("#maxPm").val(argument.maxPm)
                    } else{
                        alarmArgumentForm.reset();
                        layer.msg(data.message)
                    }
                }
            })
        })
        window.setAlarmArgument = function () {
            if (currentDeviceMac=="") {
                layer.msg("修改检测仪参数");
                return;
            }
            layer.confirm('是否确认修改检测仪参数',
                {
                    title:"修改",
                    btn: ['确认', '取消'] //可以无限个按钮
                },
                function (index, layero) {
                    //按钮【按钮一】的回调
                    $.ajax({
                        url: '/emims/api/alarmArgument/update',
                        type: 'post',
                        data: {
                            deviceMac:currentDeviceMac,
                            deviceId:currentArgumentId,
                            maxT: $("#maxT").val(),
                            minT: $("#minT").val(),
                            maxHumi: $("#maxHumi").val(),
                            minHumi: $("#minHumi").val(),
                            maxIllum: $("#maxIllum").val(),
                            minIllum: $("#minIllum").val(),
                            maxUltra: $("#maxUltra").val(),
                            minUltra: $("#minUltra").val(),
                            minAirP: $("#minAirP").val(),
                            maxPm: $("#maxPm").val()
                        },
                        success: function (data) {
                            layer.msg(data.message)
                            table.init('alarmArgumentTable', alarmArgumentTableOption)
                            var argument=data.data;
                            $("#maxT").val(argument.maxT)
                            $("#minT").val(argument.minT)
                            $("#maxHumi").val(argument.maxHumi)
                            $("#minHumi").val(argument.minHumi)
                            $("#maxIllum").val(argument.maxIllum)
                            $("#minIllum").val(argument.minIllum)
                            $("#maxUltra").val(argument.maxUltra)
                            $("#minUltra").val(argument.minUltra)
                            $("#minAirP").val(argument.minAirP)
                            $("#maxPm").val(argument.maxPm)
                        }
                    })
                },
                function (index) {
                    //按钮【按钮二】的回调
                    layer.close(index)
                });

        }
    });
</script>
</body>
</html>
